body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 190px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #333533;
    color: d6d6d6;
    border-bottom: 6px solid #326273;
    text-shadow: 2px 2px #326273;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.card:hover, h1:hover, a:hover {
  background-color: #326273;
}

.border-blue {
    border: 1px dotted blue;
}

.card {
  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  from {background-color: #d6d6d6;}
  to {background-color: #333533;}
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
